img, video{
    max-width: 100%
}
section {
     margin-top: 100px;
     padding-top: 1.5%;
 }
section div {
     display: flex;
     flex-flow: row;
     justify-content: space-around;
     padding-top: 2.5%;    
 }
